





.App {
  text-align: center;
  background-color: #262626;
  background-size: cover;
  color: #F2F2F2;
  font-weight: bold
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loginLabel{
  display: block;
}

#headerLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

#logoBurguer{
  width:20%;
  margin: 2%;
}

main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#containerLogin{
  display:flex;
  flex-direction: column;
  padding: 3%;
}
label{
  display:flex;
  margin:5px;
}
.inputLogin{
  border-radius: 20px;
  padding: 10px;
  margin:10px;
}
#buttonLogin{
  border-radius: 20px;
  padding: 20px;
  margin: 5%;
  background-color: #bf861B;
  font-weight: bold;
}

/*styles on breakfast*/

#loginHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #262626;
  color:#F2F2F2
}
#loginNav{
  display: flex;
  width: 100%;
}
#optionNav{
  display: flex;
  list-style: none;
  align-items: center ;
  justify-content: flex-start;
  width: 80%;
}
#logoBurguerNav{
  width: 9%;
  padding: 2%;
}
#optionNav>li{
  padding: 3%;
  cursor: pointer;
}

#menuContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100%;
  padding:10px;
  background-color: white;
  color:#262626
}

.buttonsType{
  display: flex;
  margin:5px;
  align-items: center;
  justify-content: center;
}
.buttonMeal{
  border-radius: 5px;
  background-color: #F2C53D;
  color: #262626;
  font-weight: bold;
  padding: 15px;
  margin: 10px;
}
#menu{
  display: flex;
  flex-direction: column;
  width:55%;
}

/*Breakfast*/
/* .breakfastContainer{ */
.mealContainer{
  border: dotted;
  border-color: darkgray;
}


.productContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.beveragesContent, .sandwichProduct{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.productCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 30%;
  box-shadow: 3px 3px 3px 3px #00000021;
  border-radius: 15px;
}



.productImg{
  /* width:70%; */
  height: 70%;
  border-radius: 10px 10px 0px 0px;
}

.cardP{
  width:90%;
}

.textCard{
  padding: 10px;
  background: #ecd941;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    /* height: 30%; */
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bolder;
    flex-direction: column;
}

/*estilos CSS*/
#section-ticket{
  display: flex;
  flex-direction: column;
  width:45%;
  background-color: #F2F2F2;
  margin: 10px;
  /* padding: 10px; */
  flex-shrink: flex-start;
}
.customerInformation{
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.cartContainer{
  display: flex;
  flex-direction: column;
}

.ordersTitle{
  display: flex;
  background-color: #262626;
  color: #F2F2F2;
  margin-top: 20px;
}

.orderProduct{
  display: flex;
}
.orderTotal{
  margin:20px 0 20px 0;
}

.column1{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column2{
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.quantity{
  width:20px;
  margin: 3px;
  height:20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column3{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sendOrderButton{
  border-radius: 10px;
  background-color: rgba(38, 38, 38, 8);
  width: 200px;
  height: 50px;
  color: #F2F2F2;
  font-size: 20px;
  font-weight: bold;
}

/* SECTION ORDER.JS */

.orderContainer{

  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardOrder{
    background-color: beige;
    color: #262626;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
}

/* Button filter for orders */
.btnOrderFilter{
  display: flex;
  margin:5px;
  align-items: center;
  justify-content: center;
}
.buttonTypeOrder{
  border-radius: 5px;
  background-color: #F2C53D;
  color: #262626;
  font-weight: bold;
  padding: 15px;
  margin: 10px;
  width: 160px;
}

/* ERROR NO ACCESS*/

.sectionError{
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#noAccessText{
  color: #262626;
  margin: 20px;
  font-size: 30px;
  align-content: center;
  padding: 20px;
  text-transform: uppercase;
}

#imageNoAccess{
  width: 30%;
}

#noAccessButton{
  border-radius: 10px;
  padding: 15px;
  background-color: #262626;
  color: #F2F2F2;
  font-weight: bold;
  margin: 20px;
}

/* SECTION USERMANAGEMENT*/
#sectionUserManagement{
  /* padding: 2%; */
  background-color: #F2F2F2;
  color:#282c34
}
#titleUserManagement{
  padding: 2%;
}
#titleUserCreate{
  background-color:#282c34 ;
  color: #F2F2F2;
  padding: 1%;
  border-radius: 15px 15px 0px 0px
}
#sectionUserCreate{
  background-color: rgb(240, 237, 231);
  margin: 15px;
}

.containerCreateUser{
  padding: 1%;
}
.rowInputs{
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  padding: 5px;
  align-items: center;
  flex-direction: column;
  /* align-content: center; */
}
.rowRolUser{
  display: flex;
  padding: 5px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.titleLabel{
  width: 100%;
}

.inputCreate{
  width: 60%;
}


#buttonCreateUser{
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
  background-color: #282c34;
  color: #F2F2F2;
  font-weight: bold;
}

#rolUser{
  width:60%;
  padding: 2px;
}
.titleLabelUser{
  width: 100%;
}
/* @media screen and (min-width:883px ) { */
@media screen and (min-width:883px ) {
  .rowInputs{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
    /* padding: 5px; */
    /* align-items: center */
  }
  
  .rowRolUser{
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
    width: 50%;
    /* align-items: center; */
    justify-content: space-between;
  }
  .titleLabel{
    width: 20%;
  }
  
  .inputCreate{
    width: 30%;
  }

  #rolUsers{
    width:60%;
    padding: 2px;
  
  }
  .titleLabelUser{
    width: 40%;
  }
}



/* SECTION LISTUSERS*/

/* .containerCreateProduct{
  padding: 2px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
} */
#sectionTableUsers{
  padding: 2%;
}

.showList{
  font-size: 12px;
}

/*SECTION HOME */

.containerIconHome{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3%;
}

.imgHome{
  border-radius: 50%;
  width: 20%;
  margin: 2%;
}