




.App {
  text-align: center;
  background-color: #262626;
  color: #F2F2F2;
  font-weight: bold
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#headerLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px; 
}
#logoBurguer{
  width:20%;
  margin: 2%;
}
main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#containerLogin{
  display:flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  padding: 3%;
}
label{
  display:flex;
  margin:5px;
}
.inputLogin{
  border-radius: 20px;
  padding: 10px;
  margin:10px;
}
#buttonLogin{
  border-radius: 20px;
  padding: 20px;
  margin: 5%;
  background-color: #bf861B;
}

/*styles on breakfast*/

#loginHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
#loginNav{
  display: flex;
  width: 100%;
}
#optionNav{
  display: flex;
  list-style: none;
  align-items: center ;
  justify-content: flex-start;
  width: 80%;
}
#logoBurguerNav{
  width: 9%;
  padding: 2%;
}
#optionNav>li{
  padding: 3%;
  cursor: pointer;
}

#menuContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100%;
  padding:10px;
  background-color: white;
  color:#262626
}

.buttonsType{
  display: flex;
  margin:5px;
  align-items: center;
  justify-content: center;
}
.buttonMeal{
  border-radius: 5px;
  background-color: #F2C53D;
  color: #262626;
  font-weight: bolder;
  padding: 15px;
  margin: 10px;
}
#menu{
  display: flex;
  flex-direction: column;
  width:70%;
}

/*Breakfast*/
/* .breakfastContainer{ */
.mealContainer{
  border: solid 3px;
}

/* .breakfastContainer>div>h3{ */
/* .mealContainer>div>h3{
  background-color: #F2F2F2;
  padding: 5px;
  margin: 5px;
  align-items: center;
  justify-content: center;
} */

.productContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.beveragesContent, .sandwichProduct{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.productCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: #F2F2F2;
  width: 40%;
}
/* 
.breakfastContainer::-webkit-scrollbar{
  width:10px;
  background-color: rgb(231, 124, 124);
} */

/*ticket*/
#section-ticket{
  display: flex;
  flex-direction: column;
  width:30%;
  background-color: #F2F2F2;
  margin: 10px;
  padding: 10px;
}

.productImg{
  width:60%;
}